<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OpenCartSuite">

    <test name="User Authentication">
        <classes>
            <class name="Registration" />

            <class name="LoginValidCradential"/>

            <class name="Logout" />

            <class name="LoginInvalidCradential"/>

            <class name="MyAccount"/>
        </classes>
    </test>
    <test name="Homepage">
        <classes>
            <class name="Home"/>
        </classes>
    </test>
    <test name="Cart and Wishlist">
        <classes>
            <class name="Cart"/>
            <class name="Wishlist"/>
        </classes>
    </test>
    <test name="Checkout">
        <classes>
            <class name="Checkout"></class>
        </classes>
    </test>

</suite>